<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>丁香公开课 - 丁香园</title>
    <meta name="keywords" content="原创手术视频,医学视频，医学公开课"/>
    <meta name="description" content="丁香公开课是将传统线下授课搬到网络平台，突破地域、时间限制，让医生和专家主任们在线上「零距离」互动，助力医生的快速成长，同时传播学术前沿知识。"/>
    <meta name="copyright" content="丁香园网站-观澜网络（杭州）有限公司技术支持">
    <link rel="icon" href="https://assets.dxycdn.com/app/bbs/favicon@2x.ico" type="image/x-icon">

<body>
<div id="root">

    测试
</div>
</body>

</html>