<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置生成器 -->
<generatorConfiguration>

    <context id="mysql" defaultModelType="flat" targetRuntime="MyBatis3">

        <!-- 自动识别数据库关键字，默认false，如果设置为true，根据SqlReservedWords中定义的关键字列表；
            一般保留默认值，遇到数据库关键字（Java关键字），使用columnOverride覆盖
         -->
        <property name="autoDelimitKeywords" value="false"/>
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="com.generator.MyPlugin"/>
        <commentGenerator type="com.generator.MyCommentGenerator">
            <!-- 是否去除自动生成的注释，默认false，true：去除；false：不去除 -->
            <property name="suppressAllComments" value="false"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.200.77:3306/cms"
                        userId="cms" password="HvvjTaFynnD2Ae4WufHH">
            <property name="useInformationSchema" value="true"/>
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaTypeResolver type="com.generator.MyJavaTypeResolver">
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="cn.dxy.openclass.ms.domain.cms.entity"
                            targetProject="antelope-mybatis/gen/src/main/java">
            <property name="constructorBased" value="false"/>
            <property name="enableSubPackages" value="true"/>
            <property name="immutable" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="cn.dxy.openclass.ms.domain.cms.mapper"
                         targetProject="antelope-mybatis/gen/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="cn.dxy.openclass.ms.domain.cms.mapper" type="XMLMAPPER"
                             targetProject="antelope-mybatis/gen/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="rootInterface" value="cn.dxy.openclass.ms.support.mybatis.BaseMapper"/>
        </javaClientGenerator>

        <!--<table tableName="%open%"-->
               <!--enableCountByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--enableDeleteByPrimaryKey="false"-->
               <!--enableSelectByPrimaryKey="true"-->
               <!--enableUpdateByPrimaryKey="false">-->
            <!--&lt;!&ndash;<property name="useActualColumnNames" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<domainObjectRenamingRule searchString="^OpenClass" replaceString="" />&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="created_time"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="modified_time"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="id"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="is_deleted"/>&ndash;&gt;-->
        <!--</table>-->

        <!--<table tableName="%pack_course%"-->
               <!--enableCountByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--enableDeleteByPrimaryKey="false"-->
               <!--enableSelectByPrimaryKey="true"-->
               <!--enableUpdateByPrimaryKey="false">-->
            <!--&lt;!&ndash;<property name="useActualColumnNames" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<domainObjectRenamingRule searchString="^OpenClass" replaceString="" />&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="created_time"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="modified_time"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="id"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ignoreColumn column="is_deleted"/>&ndash;&gt;-->
        <!--</table>-->

        <table tableName="%remedial_class%"
               enableCountByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"
               enableDeleteByPrimaryKey="false"
               enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="false">
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<domainObjectRenamingRule searchString="^OpenClass" replaceString="" />-->
            <!--<ignoreColumn column="created_time"/>-->
            <!--<ignoreColumn column="modified_time"/>-->
            <!--<ignoreColumn column="id"/>-->
            <!--<ignoreColumn column="is_deleted"/>-->
        </table>
    </context>

</generatorConfiguration>