<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no"/>
    <title>antelope</title>
    <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/vendors/layui/css/layui.css}" href="../static/vendors/layui/css/layui.css"/>
    <link rel="stylesheet" th:href="@{/css/core.css}" href="../static/css/core.css"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/vendors/layui/layui.js}" src="../static/vendors/layui/layui.js"></script>
    <script th:src="@{/js/core.js}"></script>
</head>
</html>