.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 41px;
    line-height: 41px;
    padding: 0 15px;
    background-color: #eee
}

.layui-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 41px;
    line-height: 41px;
    padding: 0 15px;
    background-color: #eee
}
